@{ ViewBag.Title = "Home Page"; }



<style type="text/css">
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>
<div>

    <div id="nivoslider" class="slides nivoSlider">

        <div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div><div class="nivo-slice" name="0" style="left: 0px; width: 1519px; height: 515px; opacity: 1; overflow: hidden;"><img src="~/images/images/lhts-banner-12-desk.jpg" style="position:absolute; width:1519px; height:auto; display:block !important; top:160px; left:-0px;"></div>

    </div>

    <div class="div_homedv bg_section">
        <div class="container">
            <div class="row">
                <div class="col-md-5 hidden-sm hidden-xs col-xs-12" style="">
                    <img class="mb_10 lazyload" src="~/images/images/bang-gia-dich-vu-benh-vien-tam-anh.jpg" style="width:450px">
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 mt_45 mt_10mb hbox_icon" style="width: 58.33333333%;">
                    <p style="float:right">
                        <div class="bvta_name">
                            <h1 class=" mt_0 sz_24 font_hel cl_brand3 pt_15 lt_sp2 hidden-xs">BỆNH VIỆN ĐA KHOA TÂM ANH</h1>
                            <div class="bvta_desc mt_0 font_hel cl_brand3 mb_45  lt_sp2 hidden-xs">Chất Lượng - Tận Tâm - Thân Thiện</div>
                        </div>
                        <div class="home_service text-center cl_white">
                            <div class="service_item " style="background: #3078EC;width:100%;height:100%;padding:15%;"><a href="https://tamanhhospital.vn/chu-de-tu-van/tu-van/" title="TƯ VẤN KHÁM BỆNH"><img class="mb_10 lazyload" alt="TƯ VẤN KHÁM BỆNH" data-src="https://tamanhhospital.vn/wp-content/uploads/2020/11/i_tuvan.png" src="https://tamanhhospital.vn/wp-content/uploads/2020/11/i_tuvan.png"><br>TƯ VẤN KHÁM BỆNH</a></div>
                            <div class="service_item " style="background: #3078EC;width:100%;height:100%;padding:15%;"><a href="https://tamanhhospital.vn/danh-muc-chuyen-gia/chuyen-gia/" title="CHUYÊN GIA - BÁC SĨ"><img class="mb_10 lazyload" alt="CHUYÊN GIA - BÁC SĨ" data-src="https://tamanhhospital.vn/wp-content/uploads/2020/11/i_bacsi.png" src="https://tamanhhospital.vn/wp-content/uploads/2020/11/i_bacsi.png"><br>CHUYÊN GIA - BÁC SĨ</a></div>
                            <div class="service_item " style="background: #3078EC;width:100%;height:100%;padding:15%;"><a href="https://tamanhhospital.vn/danh-cho-khach-hang/tra-cuu-ket-qua/" title="TRA CỨU KẾT QUẢ"><img class="mb_10 lazyload" alt="TRA CỨU KẾT QUẢ" data-src="https://tamanhhospital.vn/wp-content/uploads/2020/11/i_tracuu.png" src="https://tamanhhospital.vn/wp-content/uploads/2020/11/i_tracuu.png"><br>TRA CỨU KẾT QUẢ</a></div>
                            <div class="service_item " style="background: #3078EC;width:100%;height:100%;padding:15%;"><a href="https://tamanhhospital.vn/danh-cho-khach-hang/bang-gia/" title="BẢNG GIÁ"><img class="mb_10 lazyload" alt="BẢNG GIÁ" data-src="https://tamanhhospital.vn/wp-content/uploads/2020/11/i_banggia.png" src="https://tamanhhospital.vn/wp-content/uploads/2020/11/i_banggia.png"><br>BẢNG GIÁ</a></div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="col-xs-12">
        <h2 class="cl_head sz_24 font_hel text-uppercase text-center sz_mb_18 mt_0"><div class='div_head pb_15'>GIÁ TRỊ KHÁC BIỆT CỦA TÂM ANH</div></h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="div_khacbiet div_flex text-center mt_30">
                <div class="khacbiet_item item">
                    <div class="bg_white item_white">
                        <a href="#t_chuyengia" title="Chuyên gia đầu ngành - bác sĩ giỏi - chuyên viên giàu kinh nghiệm">
                            <img class="mb_10 lazyload" alt="Chuyên gia đầu ngành - bác sĩ giỏi - chuyên viên giàu kinh nghiệm" data-src="~/images/images/gtr1.png" src="~/images/images/gtr1.png">
                            <br>
                            <span class="cl_black text-uppercase title lh_12">Chuyên gia đầu ngành - bác sĩ giỏi - chuyên viên giàu kinh nghiệm</span>
                        </a>
                    </div>
                </div>
                <div class="khacbiet_item item">
                    <div class="bg_white item_white">
                        <a href="#t_thietbi" title="Trang thiết bị hiện đại bậc nhất">
                            <img class="mb_10 lazyload" alt="Trang thiết bị hiện đại bậc nhất" data-src="~/images/images/gtr2.png" src="~/images/images/gtr2.png">
                            <br>
                            <span class="cl_black text-uppercase title lh_12">Trang thiết bị hiện đại bậc nhất</span>
                        </a>
                    </div>
                </div>
                <div class="khacbiet_item item">
                    <div class="bg_white item_white">
                        <a href="#t_hieuqua" title="Hiệu quả điều trị cao Thành tựu nổi bật ">
                            <img class="mb_10 lazyload" alt="Hiệu quả điều trị cao Thành tựu nổi bật " data-src="~/images/images/gtr3.png" src="~/images/images/gtr3.png">
                            <br>
                            <span class="cl_black text-uppercase title lh_12">Hiệu quả điều trị cao<br> Thành tựu nổi bật </span>
                        </a>
                    </div>
                </div>
                <div class="khacbiet_item item">
                    <div class="bg_white item_white">
                        <a href="#t_quytrinh" title="Quy trình toàn diện, khoa học, chuyên nghiệp">
                            <img class="mb_10 lazyload" alt="Quy trình toàn diện, khoa học, chuyên nghiệp" data-src="~/images/images/gtr4.png" src="~/images/images/gtr4.png">
                            <br>
                            <span class="cl_black text-uppercase title lh_12">Quy trình toàn diện, khoa học, chuyên nghiệp</span>
                        </a>
                    </div>
                </div>
                <div class="khacbiet_item item">
                    <div class="bg_white item_white">
                        <a href="#t_dichvu" title="Dịch vụ cao cấp  Chi phí hợp lý">
                            <img class="mb_10 lazyload" alt="Dịch vụ cao cấp  Chi phí hợp lý" data-src="~/images/images/gtr5.png" src="~/images/images/gtr5.png">
                            <br><span class="cl_black text-uppercase title lh_12">Dịch vụ cao cấp <br> Chi phí hợp lý</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br />
    <br />
    <div class="col-sm-12 col-xs-12">

        <div class="col-xs-12">
            <h2 class="cl_head sz_24 font_hel text-uppercase text-center sz_mb_18 mt_0"><div class='div_head pb_15'>Chuyên gia đầu ngành - bác sĩ giỏi - <br class="hidden-sm hidden-md hidden-lg"> chuyên viên giàu kinh nghiệm</div></h2>
        </div>
        <div class="row">
            <div class="col-xs-12" style="back-ground:white;">

                <div style="left:100px;">Quy tụ đội ngũ chuyên gia đầu ngành, bác sĩ chuyên môn cao, giàu kinh nghiệm.</div>
                <div class="div_chuyengia div_flex text-center mt_30">
                    <div class="chuyengia_item item div_flex_column_mb">
                        <div class="cl_head sz_40 text-uppercase">19</div>
                        <span class="cl_black xsmall_ipad xxsmall_mb text-uppercase">Giáo sư - P. Giáo sư</span>
                    </div>
                    <div class="chuyengia_item item div_flex_column_mb">
                        <div class="cl_head sz_40 text-uppercase">51</div>
                        <span class="cl_black xsmall_ipad xxsmall_mb text-uppercase">Tiến sĩ - Bác sĩ CKII</span>
                    </div>
                    <div class="chuyengia_item item div_flex_column_mb">
                        <div class="cl_head sz_40 text-uppercase">162</div>
                        <span class="cl_black xsmall_ipad xxsmall_mb text-uppercase">Thạc sĩ - Bác sĩ CKI</span>
                    </div>
                    <div class="chuyengia_item item div_flex_column_mb">
                        <div class="cl_head sz_40 text-uppercase">98</div>
                        <span class="cl_black xsmall_ipad xxsmall_mb text-uppercase">Bác sĩ</span>
                    </div>
                    <div class="chuyengia_item item div_flex_column_mb">
                        <div class="cl_head sz_40 text-uppercase">155</div>
                        <span class="cl_black xsmall_ipad xxsmall_mb text-uppercase">Kỹ thuật viên</span>
                    </div>
                    <div class="chuyengia_item item div_flex_column_mb">
                        <div class="cl_head sz_40 text-uppercase">803</div>
                        <span class="cl_black xsmall_ipad xxsmall_mb text-uppercase">Điều dưỡng</span>
                    </div>
                </div>
                <div class="more_chuyengia text-center text-uppercase sz_18 div_more mt_20 ">
                    <a href="https://tamanhhospital.vn/danh-muc-chuyen-gia/chuyen-gia/">Xem các chuyên gia</a>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col-sm-12 col-xs-12">
        <div class="col-xs-12">
            <h2 class="cl_head sz_24 font_hel text-uppercase text-center sz_mb_18 mt_0"><div class='div_head pb_15'>Trang thiết bị hiện đại bậc nhất</div></h2>
        </div>
        <div style="left:100px;">Sở hữu hệ thống trang thiết bị cao cấp, hàng đầu thế giới trong chẩn đoán và điều trị.</div>

        <div class="container div_grid_4">
            <div class="row div_thietbi ">
                <div class="list_thietbi_home">
                    <div class="row ">
                        <div class="col-sm-3 col-xs-6 box 1v">
                            <div data-img="~/images/images/may-chup-ct-768-cat-lat.jpg" class="thietbi_item item mb_10 gtri div_1" data-ptitle="Máy chụp CT 768 lát cắt" data-pcontent="Somatom Drive (Siemens - Đức) là hệ thống chụp cắt lớp vi tính (CT) hai đầu bóng cao cấp nhất hiện nay với khả năng tái tạo lên đến 768 lát cắt giúp đánh giá những tổn thương nhỏ nhất mà CT thông thường không thể phát hiện. Đây là hệ thống CT với liều tia thấp nhất hiện nay khi được trang bị thêm bộ lọc tia Tin filter giúp hạn chế nguy cơ ảnh hưởng tới sức khỏe của bệnh nhân." style="background:url(/images/images/may-chup-ct-768-cat-lat.jpg)">
                                <div class="info_thietbi pt_15 pb_15 pl_15 pr_15 cl_white text-justify div_flex_column">
                                    <div class="text-uppercase">Máy chụp CT 768 lát cắt</div><span class="">Somatom Drive (Siemens - Đức) là hệ thống chụp cắt lớp vi tính (CT) hai đầu bóng cao cấp nhất hiện nay với khả năng tái tạo lên đến 768 lát cắt giúp...</span>
                                </div>
                            </div>
                            <div data-img="~/images/images/He-thong-phau-thuat-robot.jpg" class="thietbi_item item mb_10 gtri div_2" data-ptitle="Hệ thống phẫu thuật robot" data-pcontent="BVĐK Tâm Anh đầu tư phòng mổ Hybrid vô khuẩn hiện đại nhất hiện nay kết hợp công nghệ phẫu thuật bằng hệ thống robot Artis Pheno (Siemens) - đầu tiên tại Việt Nam: dựng hình 3D trước khi phẫu thuật để tính toán đường mổ, chẩn đoán hình ảnh, đánh giá kết quả ca mổ trước khi khâu vết mổ ngay trong phòng mổ giúp giảm nguy cơ nhiễm khuẩn khi vận chuyển bệnh nhân,... mang lại hiệu quả tốt nhất." style="background:url(/images/images/He-thong-phau-thuat-robot.jpg)">
                                <div class="info_thietbi pt_15 pb_15 pl_15 pr_15 cl_white text-justify div_flex_column"><div class="text-uppercase">Hệ thống phẫu thuật robot</div><span class="">BVĐK Tâm Anh đầu tư phòng mổ Hybrid vô khuẩn hiện đại nhất hiện nay kết hợp công nghệ phẫu thuật bằng hệ thống robot Artis Pheno (Siemens) - đầu tiên...</span></div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6 box 2v">
                            <div data-img="~/images/images/He-thong-chu-mri-the-he-moi.jpg" class="thietbi_item item mb_10 gtri div_3" data-ptitle="Hệ thống chụp MRI thế hệ mới" data-pcontent="MAGNETOM Amira BioMatrix (Siemens - Đức) là hệ thống chụp Cộng hưởng từ (MRI) đa lát cắt đầu tiên tại Việt Nam sử dụng công nghệ Ma trận sinh học toàn phần (BioMatrix), với việc ứng dụng trí tuệ nhân tạo (AI) giúp thu ảnh chất lượng cao trong thời gian ngắn, đặc biệt phù hợp với các đối tượng không đủ điều kiện chụp MRI truyền thống như nhi khoa, lão khoa, bệnh nhân mất ý thức…" style="background:url(/images/images/He-thong-chu-mri-the-he-moi.jpg)">
                                <div class="info_thietbi pt_15 pb_15 pl_15 pr_15 cl_white text-justify div_flex_column"><div class="text-uppercase">Hệ thống chụp MRI thế hệ mới</div><span class="">MAGNETOM Amira BioMatrix (Siemens - Đức) là hệ thống chụp Cộng hưởng từ (MRI) đa lát cắt đầu tiên tại Việt Nam sử dụng công nghệ Ma trận sinh học toàn...</span></div>
                            </div>
                            <div data-img="~/images/images/He-thong-nuoi-cay-phoi-ung-dung-ai.jpg" class="thietbi_item item mb_10 gtri div_4" data-ptitle="Hệ thống nuôi cấy phôi ứng dụng trí tuệ nhân tạo" data-pcontent="Tủ nuôi cấy phôi Timelapse Geri®️+ kết hợp trí tuệ nhân tạo AI (với phần mềm đánh giá phôi tự động Eeva) được trang bị kính hiển vi riêng biệt, camera độ phân giải cao 2K cho hình ảnh, video sống động về quá trình phát triển phôi. Từ đó, đánh giá chính xác khả năng và chất lượng làm tổ của phôi thai qua hình thái và động học, không cần đem phôi ra môi trường bên ngoài, tăng tỷ lệ IVF thành công.&nbsp;" style="background:url(/images/images/He-thong-nuoi-cay-phoi-ung-dung-ai.jpg)">
                                <div class="info_thietbi pt_15 pb_15 pl_15 pr_15 cl_white text-justify div_flex_column"><div class="text-uppercase">Hệ thống nuôi cấy phôi ứng dụng trí tuệ nhân tạo</div><span class="">Tủ nuôi cấy phôi Timelapse Geri®️+ kết hợp trí tuệ nhân tạo AI (với phần mềm đánh giá phôi tự động Eeva) được trang bị kính hiển vi riêng biệt, camera...</span></div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6 box 2v">
                            <div data-img="~/images/images/may-sieu-am-4d-1.jpg" class="thietbi_item item mb_10 gtri div_5" data-ptitle="Máy siêu âm sản 4D thế hệ mới, hiệu năng cao" data-pcontent="Voluson E10 là dòng máy siêu âm 4D cao cấp hàng đầu thế giới&nbsp; với công nghệ GE mới - Radiance System Architecture kết hợp đầu dò 4D điện tử ma trận cong - eM6C cho hình ảnh độ rõ nét cao." style="background:url(/images/images/may-sieu-am-4d-1.jpg)">
                                <div class="info_thietbi pt_15 pb_15 pl_15 pr_15 cl_white text-justify div_flex_column"><div class="text-uppercase">Máy siêu âm sản 4D thế hệ mới, hiệu năng cao</div><span class="">Voluson E10 là dòng máy siêu âm 4D cao cấp hàng đầu thế giới&nbsp; với công nghệ GE mới - Radiance System Architecture kết hợp đầu dò 4D điện tử ma trận...</span></div>
                            </div>
                            <div data-img="~/images/images/ghe-tien-dinh.jpg" class="thietbi_item item mb_10 gtri div_6" data-ptitle="Hệ thống thiết bị chẩn đoán, điều trị rối loạn tiền đình" data-pcontent="BVĐK Tâm Anh là đơn vị đầu tiên tại Việt Nam đầu tư hệ thống chẩn đoán rối loạn tiền đình (VNG) và tập phục hồi chức năng tiền đình (TRV) hiện đại nhất thế giới giúp điều trị hiệu quả, tỷ lệ thành công đến 80-90%." style="background:url(/images/images/ghe-tien-dinh.jpg)">
                                <div class="info_thietbi pt_15 pb_15 pl_15 pr_15 cl_white text-justify div_flex_column"><div class="text-uppercase">Hệ thống thiết bị chẩn đoán, điều trị rối loạn tiền đình</div><span class="">BVĐK Tâm Anh là đơn vị đầu tiên tại Việt Nam đầu tư hệ thống chẩn đoán rối loạn tiền đình (VNG) và tập phục hồi chức năng tiền đình (TRV) hiện đại...</span></div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6 box 2v">
                            <div data-img="~/images/images/chup-nhu-anh.jpg" class="thietbi_item item mb_10 gtri div_7" data-ptitle="Hệ thống chụp nhũ ảnh kỹ thuật số hiện đại" data-pcontent="Mammomat Inspiration (Siemens - Đức) là hệ thống chụp Nhũ ảnh tiên tiến nhất hiện nay giúp chẩn đoán chính xác và đánh giá vú chuyên sâu, đồng thời giảm liều tia PRIME đến mức tối thiểu." style="background:url(/images/images/chup-nhu-anh.jpg)">
                                <div class="info_thietbi pt_15 pb_15 pl_15 pr_15 cl_white text-justify div_flex_column"><div class="text-uppercase">Hệ thống chụp nhũ ảnh kỹ thuật số hiện đại</div><span class="">Mammomat Inspiration (Siemens - Đức) là hệ thống chụp Nhũ ảnh tiên tiến nhất hiện nay giúp chẩn đoán chính xác và đánh giá vú chuyên sâu, đồng thời...</span></div>
                            </div><div data-img="https://tamanhhospital.vn/wp-content/uploads/2020/12/cobas-pro.jpg" class="thietbi_item item mb_10 gtri div_8" data-ptitle="Hệ thống máy xét nghiệm cao cấp" data-pcontent="BVĐK Tâm Anh đầu tư hệ thống xét nghiệm tích hợp Cobas Pro đầu tiên tại Đông Nam Á&nbsp; cho phép thực hiện đến 2.200 xét nghiệm/giờ, rút ngắn thời gian trả kết quả cho bác sĩ và bệnh nhân." style="background:url(/images/images/cobas-pro.jpg)">
                                <div class="info_thietbi pt_15 pb_15 pl_15 pr_15 cl_white text-justify div_flex_column"><div class="text-uppercase">Hệ thống máy xét nghiệm cao cấp</div><span class="">BVĐK Tâm Anh đầu tư hệ thống xét nghiệm tích hợp Cobas Pro đầu tiên tại Đông Nam Á&nbsp; cho phép thực hiện đến 2.200 xét nghiệm/giờ, rút ngắn thời gian...</span></div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6 box 2v"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
</div>



