
@{ ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@using WebAppYte.Models
@{ var u = Session["user"] as WebAppYte.Models.BenhNhan;
    var userBS = Session["userBS"] as WebAppYte.Models.NguoiDung; }
<br />
<div id="nivoslider" class="slides nivoSlider">

    <div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div><div class="nivo-slice" name="0" style="left: 0px; width: 1519px; height: 515px; opacity: 1; overflow: hidden;"><img src="~/images/images/lhts-banner-12-desk.jpg" style="position:absolute; width:1519px; height:auto; display:block !important; top:160px; left:-0px;"></div>

</div>
@{ if (u != null)
    {
<div>
    <h3>Chúc mừng bạn @u.tenbn đã đăng nhập thành công.</h3>
    <br />
    Cập nhật thông tin cá nhân ngay!.
    <a class="btn-success" href="@Url.Action("Details", "BenhNhan", new { id = u.mabn })"> Click </a>
</div> }
else
{

                <div>
                    <center><h3>  @userBS.hoten đã đăng nhập thành công.</h3></center>
                    <br />
                    <center>Xem lịch khám ngay!.</center>
                </div> } }

